@use '../../assets/styles/colors' as colors
@use '../../assets/styles/screens.sass' as screens

.Article
  border-radius: 0.5rem
  height: 100%
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
  background: colors.$color-white-cultured
  z-index: 5
  a
    text-decoration: none
    color: black

  h3
    margin: 0

  h4
    margin: 0

.Article__Wrapper
  display: flex
  flex-direction: column
  height: 100%

.Article__Image
  border-radius: 0.5rem 0.5rem 0 0
  border: none
  width: 100%
  height: 180px
  object-fit: cover

.Article__Image-placeholder
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 180px
  font-size: 3rem
  color: colors.$color-slate-gray

.Article__Info
  padding: 0.75rem 0.5rem
  display: flex
  flex-grow: 1
  flex-direction: column
  justify-content: space-between

.Article__Detail
  display: flex
  flex-direction: column
  gap: 0.25rem
  margin-bottom: 1rem

.Article__Title
  font-size: 1rem
  font-weight: 600
  color: colors.$color-indigo

.Article__Metadata
  display: flex
  color: colors.$color-slate-gray
  font-size: 0.8rem
  span:not(:last-child)::after
    content: "\2022"
    margin: 0 0.5rem

.Article__Section
  text-transform: uppercase
  font-weight: 500
  font-size: 0.9rem
  color: colors.$color-slate-gray

@media screen and (min-width: screens.$screen-md)
  .Article__Info
    flex-grow: 1
