@use "../../assets/styles/colors" as colors

.Search
  display: block
  width: 100%
  max-width: 700px
  border-radius: 0.25rem
  padding: 0.5rem
  background: colors.$color-white-cultured

.Search__Wrapper
  display: flex
  align-items: center
  gap: 0.5rem

.Search__Input
  border: none
  flex-grow: 1
  background: none
  &:focus
    outline: none

.Search__Filter
  border: none
  background: none

.Search__Icon
  font-size: 1.25rem
  color: colors.$color-indigo
